/* Sizes */
$sidebar-width: 180px;
$content-view-width: 99%;
$default-form-width: 840px;

/* Colors and Backgrounds */
$container-border-color: #000;

$sidebar-background: #1e1f1c;
$container-background: #272822;

$grey: #ccc;
$red: #F60F0F;
$yellow: #FFAA00;
$green: #39DD00;
$green-hover: #31aa08;
$red-hover: #990a0a;
$dark-blue: #000112;
