{% if num_branches > 0  %}
    <p class="repo-message">
        <i class="fa fa-quote-left"></i> Graphs present number of commits in this week and year. <i class="fa fa-quote-right"></i>
    </p>
    <div id="repo-graphs">
        <div id="graphs-loader">
            {% include 'base/loading.html' %}
        </div>
        <canvas id="weekly-commits-graph"></canvas>
        <canvas id="monthly-commits-graph"></canvas>
    </div>
{% else %}
    {% include 'base/repo-no-commits.html' %}
{% endif %}
