{# This template will be the parent for all views in a working session such as browsing, changing settings, etc. #}
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="djacket-version" version="0.1.0">
        <title>{% block page_title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/libs/djacket-libs.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/djacket-session.css">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
        <link rel="icon" type="image/png" sizes="36x36"  href="/static/android-icon-36x36.png">
        <link rel="icon" href="/static/favicon.ico">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/ms-icon-70x70.png">
    </head>
    <body>
        <aside id="sidebar">
            {% include 'base/sidebar.html' %}
        </aside>
        <section id="container">
            <header id="view-title">
                {% block view_title %}{% endblock %}
            </header>
            <section id="content">
                {% block content %}{% endblock %}
            </section>
        </section>

        <script type="text/javascript" src="/static/libs/djacket-libs.js"></script>
        <script type="text/javascript" src="/static/scripts/icon-selection.js"></script>
        <script type="text/javascript" src="/static/scripts/djacket-session.js"></script>
    </body>
</html>
